.boxwrap {
    background: #eee;
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 0;
    max-width: 33%;
}

.form-control {
    font-size: 1.5em;
}

.btn {
    font-size: 1.5em;
}


/* New css */

.boxwrap .form-row>[class*=col-] {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.boxwrap .form-control {
    border-radius: 0px !important;
}

.resultBox {
    margin-top: 15px;
    padding-top: 20px;
    background: #eee;
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
}