.boxwrap {
    background: #eee;
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 0;
    max-width: 33%;
}

.form-control {
    font-size: 1.5em;
}

.btn {
    font-size: 1.5em;
}


/* New css */

.boxwrap .form-row>[class*=col-] {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.boxwrap .form-control {
    border-radius: 0px !important;
}


/* .resultBox {
        margin-top: 15px;
        padding-top: 20px;
        background: #eee;
        padding: 40px;
        margin-right: 20px;
        margin-left: 20px;
    } */

.card {
    margin-bottom: 15px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.card .content {
    flex: 1 1 auto;
}

.card-footer {
    background: transparent;
    border-top: 0px;
}

.btn-apply {
    width: 100px;
}

.allJobs {
    margin-bottom: 5%
}


/* .card-title .card-text {
    justify-content: center;
} */


/* .titleJob {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
} */

.apply-btn {
    width: 12px;
}

.form-control {
    height: 50px;
    border: 2px solid #dde6ef;
    margin-bottom: 20px;
    box-shadow: none;
    background: #fbfdff;
    font-size: 14px;
    color: #6b7c8a;
    padding: 6px 18px;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    width: 100%;
}

div {
    display: block;
}

.jobsearch {
    background: #ffffff;
    border-radius: 6px;
    padding: 15px 5px 10px 5px;
    box-shadow: 0 5px 25px 0 rgb(41 128 185 / 15%);
    -webkit-box-shadow: 0 5px 25px 0 rgb(41 128 185 / 15%);
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    z-index: +99;
}

@media (min-width: 1200px) {
    .container {
        width: 1240px;
    }
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.theme-btn {
    border-radius: 6px;
    height: 50px;
    width: 100%;
    background: #26ae61;
    border: 2px solid #26ae61;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgb(41 128 185 / 20%);
    -webkit-box-shadow: 0 4px 10px 0 rgb(41 128 185 / 20%);
}

.img-company {
    padding: 4px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
}

.save-job {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.job-top {
    display: block;
}

.job-card-body {
    padding: 5px;
    height: 300px;
}

.fa-bookmark {
    font-size: 10px;
}

.card-header {
    background-color: none !important;
    border-bottom: none;
}