<div *ngIf="userFlag">
    <app-app-header>
    </app-app-header>
</div>
<div *ngIf="!userFlag">
    <app-hiring-header>
    </app-hiring-header>
</div>
<div *ngIf="!portfolioFlag">
    <div class="centerDiv">


        <div class="desc">
            <h1>Get Noticed by Recruiters and Companies
            </h1>
            <h1>
                <a [routerLink]="['/home']">SIGNUP </a>TO CAREER BOOK MARK
            </h1>
            <!-- <a [routerLink]="['home']">CAREER BOOK MARK</a> to create Your Portfolio -->



        </div>
    </div>
</div>
<div *ngIf=portfolioFlag>
    <div class="container">
        <div class="row">
            <div class="col-md-12 portfolio">
                <div class="clearfix box">


                    <h3 id="name">
                        {{portfolio.fullName}}
                        <div *ngIf="userFlag">
                            <a class="btn btn-secondary float-right" (click)="updateProfile()"><i class='fas fa-pencil-alt' style='font-size:15px'></i></a>
                        </div>
                        <!-- <input *ngIf="editProfile" [(ngModel)]="portfolio.fullName" type="text" class="form-control" /> -->
                    </h3>
                    <p id="title" class="clearfix">
                        {{portfolio.jobTitle}}
                        <!-- <a class="btn btn-secondary float-right" (click)="updateProfile()"><i class='fas fa-pencil-alt' style='font-size:15px'></i></a> -->

                    </p>
                    <p id="emailId" class="clearfix">
                        {{portfolio.emailId}}
                        <!-- <a class="btn btn-secondary float-right" (click)="updateProfile()"><i class='fas fa-pencil-alt' style='font-size:15px'></i></a> -->

                    </p>
                    <p><a [attr.href]="portfolio.website">{{portfolio.website}}</a></p>
                    <p id="location">
                        {{portfolio.location}}
                    </p>
                    <hr>
                    <p id="summary">
                        {{portfolio.summary}} </p>

                </div>

                <div class="clearfix box">
                    <!-- <button type="button" class="btn btn-secondary float-right"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button> -->
                    <h2>
                        Experience
                    </h2>
                    <hr>
                    <p id="experience">
                        {{portfolio.experience}} </p>

                </div>
                <div class="clearfix box">
                    <!-- <button type="button" class="btn btn-secondary float-right" (click)="updateEducation()"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button> -->
                    <h2>
                        Education
                    </h2>
                    <hr>
                    <p id="education">
                        {{portfolio.education}} </p>

                </div>
                <div class="clearfix box">
                    <!-- <button type="button" class="btn btn-secondary float-right" (click)="updateSkills()"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button> -->
                    <h2>
                        Skills
                    </h2>
                    <hr>
                    <p id="skills">
                        {{portfolio.skills}} </p>

                </div>
            </div>

        </div>
    </div>