    .profileSection {
        margin: 5%;
        display: flex;
        background-color: antiquewhite;
        box-shadow: 2px 3px 170px -8px rgba(0, 0, 0, 0.8);
        flex-grow: 1;
        flex-direction: row;
    }
    
    .name {
        text-align: center;
    }
    
    .portfolio-main {
        border-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: burlywood;
        margin-left: 5px;
    }
    
    .main {
        display: flex;
        flex-direction: column;
    }
    
    .name {
        font-size: 30px;
        color: black;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #title {
        font-size: 2rem;
        line-height: 1;
        color: black;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #location {
        font-size: 2rem;
        line-height: 1;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #name {
        font-size: 4.8rem;
        line-height: 1.33333;
        color: black;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .portfolio {
        margin-left: 2%;
    }
    
    .card {
        margin-top: 5%;
    }
    
    .box {
        position: relative;
        border-top: 0;
        margin-bottom: 40px;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 0px;
        -webkit-transition: .5s;
        transition: .5s;
        display: -ms-utf_flexbox_area;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
        -webkit-box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
        padding: 20px;
        margin-top: 10px;
    }
    
    .portfolio-page {
        margin-bottom: 5%;
        margin-top: 2%;
    }
    
    @media (min-width: 1025px) {
        .centerDiv {
            background-image: url("https://www.celarity.com/wp-content/uploads/2017/09/dreamstime_s_84350797.jpg");
            height: 1025px;
            background-position: 100% 100%;
            background-color: rgb(63, 8, 80);
            background-blend-mode: screen;
            opacity: 0.9;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -5%;
        }
    }
    
    .desc {
        text-align: center;
        color: rgb(19, 1, 19);
        font-weight: 600;
        padding: 15%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .desc h1 {
        font-size: 50px;
        font-weight: 400;
    }
    
    .desc p {
        font-size: 25px;
        padding-top: 5px;
    }
    
    .desc a {
        color: black;
    }
    
    .box {
        position: relative;
        border-top: 0;
        margin-bottom: 40px;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 0px;
        -webkit-transition: .5s;
        transition: .5s;
        display: -ms-utf_flexbox_area;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
        -webkit-box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
        padding: 20px;
        margin-top: 10px;
    }
    
    #education {
        font-size: 15px;
    }
    
    #experience {
        font-size: 15px;
    }
    
    #skills {
        font-size: 15px;
    }
    
    #summary {
        font-size: 15px;
    }