.profileSection {
    margin: 5%;
    display: flex;
    background-color: antiquewhite;
    box-shadow: 2px 3px 170px -8px rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    flex-direction: row;
}

.name {
    text-align: center;
}

.portfolio-main {
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: burlywood;
    margin-left: 5px;
}

.main {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 30px;
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

#title {
    font-size: 2rem;
    line-height: 1;
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

#location {
    font-size: 2rem;
    line-height: 1;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#name {
    font-size: 4.8rem;
    line-height: 1.33333;
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.portfolio {
    margin-left: 2%;
}

.card {
    margin-top: 5%;
}

.portfolio-page {
    margin-bottom: 5%;
}

@media (min-width: 1025px) {
    .centerDiv {
        background-image: url("https://www.celarity.com/wp-content/uploads/2017/09/dreamstime_s_84350797.jpg");
        height: 1025px;
        background-position: 100% 100%;
        opacity: 0.7;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -5%;
    }
}

.desc {
    text-align: center;
    color: green;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc h1 {
    font-size: 50px;
    font-weight: 400;
}

.desc p {
    font-size: 25px;
    padding-top: 5px;
}