<app-app-header></app-app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 portfolio">
            <div class="jumbotron clearfix">
                <button type="button" class="btn btn-secondary float-right"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button>

                <h2 id="name">
                    {{Fullname}}
                </h2>
                <p id="title" class="clearfix">
                    Blockchain Developer
                   
                    <a class="float-right" href="http://www.google.com">www.google.com</a>
                </p>
                <p id="title">
                    Saskatoon,Saskatchewan
                </p>
                <p>
                    My career objective is to procure a job in a progressive organization where i can contribute to the
                    company's growth and thereby upgrading myself.I am currently working with TCS.Have sound knowledge
                    in Oracle,Node JS, Javascript and Unix.Presently Working with Blockchain Technology,focusing on
                    Development of Ethereum Smart Contracts. </p>
            </div>

            <div class="jumbotron clearfix">
                <button type="button" class="btn btn-secondary float-right"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button>
                <h2>
                    Experience
                </h2>
                <hr>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>

            </div>
            <div class="jumbotron clearfix">
                <button type="button" class="btn btn-secondary float-right"><i class='fas fa-pencil-alt' style='font-size:15px'></i></button>
                <h2>
                   Education
                </h2>
                <hr>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>

            </div>
        </div>
        <div class="col-md-2">
            <h1>Jobs for You</h1>
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    </div>
</div>