.userForm {
    margin: 5%;
    margin-top: 2%;
    padding: 5%;
    border-radius: 4px;
    border: 1px solid;
    padding: 5%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #00000029;
    border-radius: 4px;
}

label {
    font-size: 15px;
}

.submitBtn {
    background-color: #02A59C;
    color: white;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-top: 25px;
}

.textarea {
    height: max-content;
    width: max-content;
}

.form-control {
    font-size: 1.4rem;
}

.center {
    text-align: center;
}

.jobpost {
    background-color: wheat;
}

.form-control {
    height: 50px;
    border: 2px solid #dde6ef;
    margin-bottom: 20px;
    box-shadow: none;
    background: #fbfdff;
    font-size: 14px;
    color: #6b7c8a;
    padding: 6px 18px;
    font-weight: 500;
}

.box {
    position: relative;
    border-top: 0;
    margin-bottom: 40px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-utf_flexbox_area;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
    -webkit-box-shadow: 0 5px 15px 0 rgb(41 128 185 / 10%);
}

.box-header {
    background: #4c5457;
    border-bottom: 0px;
    padding: 20px 30px;
    margin-bottom: 0;
    display: flex;
    border-radius: 4px 4px 0 0;
    align-items: center;
    border-bottom: 1px solid #eaeff5;
}

.box-body {
    padding: 25px 30px;
    border-radius: 0 0 4px 4px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 2px solid #f1f3f4;
    border-top: 0;
}

.box-header h4 {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.theme-btn {
    background: #26ae61;
    border: 2px solid #26ae61;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    height: 35px;
    box-shadow: 0 4px 10px 0 rgb(41 128 185 / 20%);
    -webkit-box-shadow: 0 4px 10px 0 rgb(41 128 185 / 20%);
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.postjobsection {
    background: #ffffff;
    display: block;
}

@media (min-width: 1200px) {
    .container {
        width: 1240px;
        padding-bottom: 80px;
    }
}