<div>
    <!-- [routerLink]="'/jobs'" -->
    <a [routerLink]="'/home'"><img src="../../../assets/images/CareerBookMark.JPG"></a>

</div>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-5 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Hiring Platform</h1>
                    <div class="px-2">
                        <form [formGroup]="signUpHirerForm" class="justify-content-center" (ngSubmit)="signUp()">

                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control" formControlName="emailId" placeholder="Email Id">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Password</label>
                                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                                    <button (click)="showPassword()">
                                        <i class="fa fa-eye icon" aria-hidden="true" *ngIf="!show"></i>
                                        <i class="fa fa-eye-slash icon" aria-hidden="true" *ngIf="show"></i>
                                      </button>
                                </div>
                            </div>
                            <!-- [routerLink]="'/create-profile'" -->
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signUpHirerForm.valid">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>