<div id="app">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/image.jpg" alt="careerbookmarklogo"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="'/post-job'" class="nav-link" [routerLinkActive]="['active']">Post Job
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/manage-jobs'" class="nav-link" [routerLinkActive]="['active']" href="#">Manage Jobs</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/profiles'" class="nav-link" href="#" [routerLinkActive]="['active']">Profiles</a>

            </li>

        </ul>
        <ul class=" navbar-nav  ">
            <!-- <li class="nav-item ">
              <a class="nav-link " href="# ">Hire Now</a>
          </li> -->
            <li class="nav-item " *ngIf=!userLogin>
                <div class="nav-item dropdown">
                    <button id="login" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Sign In</button>

                    <div class="dropdown-menu action-form px-4 dropdown-menu-right">
                        <form [formGroup]="signInUserForm" class="justify-content-center" (ngSubmit)="login()">
                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control" formControlName="emailId" placeholder="emailId">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Password</label>
                                    <input type="password" class="form-control" formControlName="password" placeholder="password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                        </form>
                    </div>
                </div>
                <!-- <button class="signUp" data-toggle="modal" data-target="#signInModal">Sign In</button> -->
                <!-- <a class="nav-link " href="# ">Login</a> -->
            </li>

            <li class="nav-item" *ngIf=userLogin>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4"><i class='far fa-user-circle'></i></a>

                    <div class="dropdown-menu dropdwn ">
                        <li>{{email}}</li>
                        <button style="align-items: center;" (click)="logout()">LogOut</button>
                    </div>
                </div>



            </li>


        </ul>

    </nav>
</div>
<!-- login modal -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="signInModalLabel">Sign In</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row">
                        <label for="emailId">Email Id</label>
                        <input type="email" id="emailId" class="form-control">
                    </div>
                    <div class="row">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer center-div">
                <button type="button" class="btn btn-primary signInModalBtn">Sign In</button>

            </div>
        </div>
    </div>
</div>