.logo {
    width: 275px;
    height: 50px;
    margin: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-link {
    font-size: 28px;
    padding-left: 1%;
    color: #eee;
}

.navbar-brand {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

* {
    box-sizing: border-box;
}

.topnav button {
    background-color: transparent;
    /* overflow: hidden; */
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.signUp {
    background-color: mediumseagreen;
    font-size: 20px;
    padding: 1%;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-dark {
    background-color: black;
}

.hire .signUp {
    background-color: blue;
}

.icon-user {
    color: white;
    font-size: 25px;
    padding-bottom: 0px;
    margin-top: 2%;
    width: 50px;
    height: 50px;
}

a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, .5);
}

#search input {
    height: 45px;
    font-size: 25px;
    border-radius: 5px;
}


/* 
/* modal css */


/* .modal-title {
    font-weight: 400;
}

.modal-content {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
}

.modal-body {
    margin-bottom: 10px;
} */

*/ .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.modal-body .input {
    line-height: 2em;
}

.signInModalBtn {
    width: 75px;
}


/* .modal-title {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
} */

#signInModal {
    font-size: 15px;
}

#login {
    background-color: mediumseagreen !important;
    font-size: 20px;
    padding: 1%;
    margin-right: 5%;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}

.dropdown-menu {
    /* padding-top: 12px; */
    width: 300px !important;
    /* margin-right: 10px; */
    display: none;
    height: 150px;
    /* position: absolute; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navbar .dropdown-menu {
    font-weight: normal;
    border-radius: 1px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    font-size: 15px;
}

a:hover {
    color: blue;
}