.bgImage{
    background-image: url("../../../assets/images/homepage.jpg");
    background-repeat: no-repeat;
    /* background-color: cadetblue; */
    height:1200px;
    background-position: 50% 40%;
    opacity: 0.9;
    background-size: cover;
 
}

.desc{
    text-align: center;
    color:white;
    margin-top:5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc h1{
    font-size: 72px;
    font-weight: 800;
}

.desc p{
    font-size:25px;
    padding-top:5px;
}
.signUp{
    background-color: mediumseagreen;
    font-size:25px;
    padding:1%;
    border-radius: 7px;
    height:70px;
    width: 150px;
    margin-top:2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}