.bgImage {
    background-image: url("../../../assets/images/JOB.jpg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    opacity: 0.9;
    background-size: cover;
}


.signUp {
    background-color: mediumseagreen;
    font-size: 25px;
    padding: 1%;
    border-radius: 7px;
    height: 70px;
    width: 150px;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-heading{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0 auto;
}

.main-heading h1{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 72px;
    font-weight: 800;
    color: white;
}
.main-heading p{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 56px;
    font-weight: 500;
    color: white;
}
