<div id="app">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/image.jpg" alt="careerbookmarklogo"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="'/jobs'" class="nav-link" [routerLinkActive]="['active']">Jobs
                </a>
            </li>
            <li class="nav-item" *ngIf="userId">
                <a [routerLink]="['/portfolio',userId]" class="nav-link" [routerLinkActive]="['active']">Portfolio</a>
            </li>
            <li class="nav-item" *ngIf="!userId">
                <a [routerLink]="'/portfolio'" class="nav-link" [routerLinkActive]="['active']">Portfolio</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/network'" class="nav-link" href="#" [routerLinkActive]="['active']">Networking</a>

            </li>
            <li class="nav-item">
                <a [routerLink]="'/upskill'" class="nav-link" href="#" [routerLinkActive]="['active']">Upskill</a>
            </li>

        </ul>
        <!-- <div class="navbar-nav">
            <form id="search">

                <input type="search" placeholder="Search...">


            </form>

        </div> -->
        <ul class=" navbar-nav ml-auto ">
            <!-- <li class="nav-item ">
              <a class="nav-link " href="# ">Hire Now</a>
          </li> -->
            <li class="nav-item " *ngIf=!userLogin>
                <div class="nav-item dropdown">
                    <button id="login" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Sign In</button>

                    <div class="dropdown-menu action-form px-4">
                        <form [formGroup]="signInUserForm" class="justify-content-center" (ngSubmit)="login()">
                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control" formControlName="emailId" placeholder="emailId">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label class="sr-only">Password</label>
                                    <input type="password" class="form-control" formControlName="password" placeholder="password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                        </form>
                    </div>
                </div>
                <!-- <button class="signUp" data-toggle="modal" data-target="#signInModal">Sign In</button> -->
                <!-- <a class="nav-link " href="# ">Login</a> -->
            </li>

            <li class="nav-item" *ngIf=userLogin>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4"><i class='far fa-user-circle'></i></a>

                    <div class="dropdown-menu dropdwn ">
                        <li>{{email}}</li>
                        <button style="align-items: center;" (click)="logout()">LogOut</button>
                    </div>
                </div>



            </li>
            <li>
                <button id="hire" (click)="hireNow()">Hire Now!</button>
            </li>

        </ul>
        <!-- </div> -->
    </nav>
</div>