<div id="app" *ngIf=!userLogin>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top" >
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/CareerBookMark.JPG"
        alt="careerbookmarklogo"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Jobs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Networking</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upskill</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
              <a class="nav-link" href="#">Hire Now</a>
          </li> -->
      <li class="nav-item">
        <button class="signUp">Sign In</button>
        <!-- <a class="nav-link" href="#">Login</a> -->
      </li>
      <li class="nav-item pl-5 hire">
        <button class="signUp">Hire Now!</button>
      </li>

    </ul>
    <!-- </div> -->
  </nav>
</div>