.logo {
    width: 275px;
    height: 50px;
    margin: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: fixed;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-link {
    font-size: 28px;
    padding-left: 1%;
    /* color: #eee; */
}

.navbar-brand {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

* {
    box-sizing: border-box;
}

#login {
    background-color: mediumseagreen !important;
    font-size: 20px;
    padding: 1%;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-dark {
    background-color: black;
}

#hire {
    background-color: blue !important;
    font-size: 20px;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, .5);
}

#search input {
    height: 45px;
    font-size: 25px;
    border-radius: 5px;
}


/* modal css */

.modal-title {
    font-weight: 400;
}

.modal-content {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    /* left: 50%;
top: 50%; */
}

.modal-body {
    margin-bottom: 10px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.dropdwn {
    padding: 2px;
    margin: 2px;
    width: auto;
    justify-content: center;
}

.dropdwn .button {
    align-items: center;
}

@media (max-width: 600px) {
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}

.dropdown-menu {
    padding-top: 12px;
    width: 25em;
}

.navbar .dropdown-menu {
    font-weight: normal;
    border-radius: 1px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}