<app-app-header></app-app-header>
<section class="postjobsection">
    <div class="container">
        <div style="padding-bottom: 2%;">
            <a id="backtojob" routerLink="/jobs" routerLinkActive="active">
                Back to Jobs </a>
        </div>
        <div class="box ">

            <div *ngIf="closedJob ">
                <h1 id="box-header ">
                    <span>{{data.jobTitle}}</span>
                    <button class='btn disabled pull-right closedbtn'>
                        Job Closed
                    </button>
                </h1>

            </div>
            <div *ngIf="!closedJob ">
                <h1 id="box-header ">
                    <span>{{data.jobTitle}}</span>
                    <button class='btn btn-success pull-right applybtn' (click)="applyingJob()" *ngIf="!candidateApplied">
                        Apply
                    </button>
                    <button class='btn disabled pull-right appliedbtn' *ngIf="candidateApplied">
                        Applied
                    </button>
                </h1>
            </div>
            <div class="mt-2 companyStyles">
                <a [routerLink]="['/company-portfolio',hirerId]">{{data.Company}} </a>
            </div>
            <div class="mt-2 jobStyles">{{data.jobLocation}}</div>
            <div class="mt-2 jobStyles">{{data.jobPostedDate | dateAgo}}</div>
            <div class="mt-2 jobStyles">{{data.appliedCandidates.length}} applicants</div>
        </div>
        <div class="box ">
            <div>
                <div>
                    <h2 id="box-header">Job Details</h2>
                </div>
                <div class="mt-2 details ">Company Details</div>
                <div class="jobStyles">

                    {{data.companyDesc}}</div>
                <div class="details">Job Requirements</div>
                <div class="jobStyles">{{data.jobRequirements}}</div>
                <div class="details ">Job Summary</div>
                <div class="jobStyles">{{data.jobSummary}}</div>
            </div>
        </div>
        <div class="box">
            <h2 id="box-header ">Salary</h2>
            <div class="jobStyles">{{data.salaryRange}}</div>
        </div>
    </div>

</section>