<app-app-header>
</app-app-header>
<div>

    <form [formGroup]=" userProfileForm " (ngSubmit)="updateProfile() ">

        <div class="userForm ">
            <!-- <div class="center">
                <h1>Create Profile</h1>
            </div> -->
            <div class="row ">
                <div class="form-group col-sm-4 ">
                    <label for="fullName ">Full Name:</label>
                    <input type="text " id="fullName " placeholder="Full Name " formControlName="fullName" class="form-control ">
                </div>
                <div class="form-group col-sm-4 ">
                    <label for="phoneNumber ">Phone Number:</label>
                    <input type="text " id="phoneNumber " placeholder="Phone Number " formControlName="phoneNumber" class="form-control ">
                </div>
                <div class="form-group col-sm-4 ">
                    <label for="website ">Web Site:</label>
                    <input type="text " id="webSite " placeholder="Web Site " formControlName="website" class="form-control ">
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-sm-4 ">
                    <label for="emailId ">Email Id:</label>
                    <input type="text " id="emailId " placeholder="Email Id " formControlName="emailId" class="form-control ">
                </div>
                <div class="form-group col-sm-4 ">
                    <label for="jobTitle ">Job Title:</label>
                    <input type="text " id="jobTitle " placeholder="Job Title " formControlName="jobTitle" class="form-control ">
                </div>
                <div class="form-group col-sm-4 ">
                    <label for="location ">Location:</label>
                    <input type="text " id="location " placeholder="location" formControlName="location" class="form-control " />
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-sm-12 ">
                    <label for="summary ">Summary:</label>
                    <textarea name="summary " formControlName="summary" class="textarea " class="form-control "></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-sm-12 ">
                    <label for="experience ">Experience:</label>
                    <textarea name="experience " formControlName="experience" class="textarea " class="form-control "></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-sm-12 ">
                    <label for="education ">Education:</label>
                    <textarea name="education " formControlName="education" class="textarea " class="form-control "></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-sm-12 ">
                    <label for="skills ">Skills:</label>
                    <textarea name="skills " formControlName="skills" class="textarea " class="form-control "></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12 text-center ">
                    <button class="submitBtn ">Update Profile</button>
                </div>
            </div>
        </div>
    </form>
</div>