<app-hiring-header></app-hiring-header>
<section class="postjobsection">
    <div class="container">

        <div class="box">

            <div *ngIf="closedJob">
                <h3 id="box-header">
                    <span>{{data.jobTitle}}</span>
                    <button class='btn disabled pull-right closedbtn'>
                        Job Closed
                    </button>
                </h3>

            </div>
            <div *ngIf="!closedJob">
                <h3 id="box-header">
                    <span>{{data.jobTitle}}</span>
                    <button class='btn btn-success pull-right applybtn' (click)="viewCandidates()">
                        View Candidates
                    </button>

                </h3>

            </div>
            <div class="mt-2 ">
                <a [routerLink]="['/company-portfolio',hirerId]">{{data.Company}} </a>

                <button *ngIf="!closedJob" class='btn btn-close pull-right applybtn' (click)="closeJob()">
                    Close Job
                    </button>
            </div>
            <div class="mt-2 ">{{data.jobLocation}}</div>
            <div class="mt-2 ">{{data.jobPostedDate | dateAgo}}</div>
            <div class="mt-2 ">{{data.appliedCandidates.length}} applicants</div>
        </div>
        <div class="box ">
            <div>
                <div>
                    <h3 id="box-header">Job Details</h3>
                </div>
                <div class="mt-2 details">Company Details</div>
                <div>

                    {{data.companyDesc}}</div>
                <div class="details">Job Requirements</div>
                <div>{{data.jobRequirements}}</div>
                <div class="details">Job Summary</div>
                <div>{{data.jobSummary}}</div>
            </div>
        </div>
        <div class="box">
            <h3 id="box-header">Salary</h3>
            <div *ngIf="data.salaryRange">{{data.salaryRange}}</div>
            <div>Best in industry for right person</div>
        </div>
    </div>

</section>