
<app-app-header></app-app-header>
<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <div class="userForm">
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="firstName">Full Name:</label>
            <input type="text" id="fullName" placeholder="Full Name" formControlName="fullName" class="form-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber"
                class="form-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="website">Web Site:</label>
            <input type="text" id="webSite" placeholder="Web Site" formControlName="website"
                class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="emailId">Email Id:</label>
            <input type="text" id="emailId" placeholder="Email Id" formControlName="emailId" class="form-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="lastName">Job Title:</label>
            <input type="text" id="jobTitle" placeholder="Job Title" formControlName="jobTitle" class="form-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="location">Location:</label>
            <input type="text" id="location" placeholder="location" formControlName="location"
                class="form-control"/>
        </div>
    </div>
    <!-- <div class="row">
        <div class="form-group col-sm-12">
            <label for="resume">Resume:</label>
            <input type="file" id="resume" formControlName="resume" (change)="onFileChange()" />
        </div>
    </div> -->
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="summary">Summary:</label>
           <textarea name="summary" formControlName="summary" class="textarea" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="summary">Experience:</label>
           <textarea name="summary" formControlName="experience" class="textarea" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="summary">Education:</label>
           <textarea name="summary" formControlName="education" class="textarea" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
        <button class="submitBtn">Submit</button>
    </div>
    </div>
</div>
</form>
