.userForm{
    margin:5%;
    margin-top:7%;
    padding:5%;
   border-radius: 4px;
   border:1px solid;
   padding:5%;
}
label{
    font-size:15px;
}
.submitBtn{
    background-color:#02A59C;
    color:white;
    border-radius: 4px;
    width:150px;
    height:40px;
    text-align: center; 
    margin-top:10px;
}
.textarea{
    height:max-content;
    width: max-content;
}
.form-control{
    font-size: 1.4rem;
}