<app-app-header>
</app-app-header>

<h1 style="text-align: center;">SHARPEN YOUR SKILLS TO NEXT LEVEL!</h1>
<div class="container">
    <main class="grid">
        <article>
            <img src="/pix/samples/23m.jpg" alt="Sample photo">
            <div class="text">
                <h3>Agriculture, Food, and Natural Resources</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <button>Here's why</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/24m.jpg" alt="Sample photo">
            <div class="text">
                <h3>Architecture and Construction</h3>
                <p>Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
                <button>Here's how</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/22l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Arts, Audio/Video Technology, and Communications</h3>
                <p>Completely synergize resource taxing relationships via premier niche markets.</p>
                <button>Read more</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/15l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Business, Management, and Administration</h3>
                <p>Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
                <button>Just do it...</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/25m.jpg" alt="Sample photo">
            <div class="text">
                <h3>Education and Training
                </h3>
                <p>Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                <button>Here's why</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/16l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Finance</h3>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                <button>Stop here</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/16l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Finance</h3>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                <button>Stop here</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/16l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Finance</h3>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                <button>Stop here</button>
            </div>
        </article>
        <article>
            <img src="/pix/samples/16l.jpg" alt="Sample photo">
            <div class="text">
                <h3>Finance</h3>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                <button>Stop here</button>
            </div>
        </article>
    </main>
</div>